html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    /* border: 1px darkgray solid; */
    box-sizing: border-box;
    overflow: hidden;

}

.grid {
    width: 90%;
    max-width: 800px;
    height: 70vh;
    background-color: lightgray;
    border: transparent 5px;
    padding: none;
    border-radius: 25px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
}

.grid div {
    width: 23%;
    height: 23%;
    background-color: beige;
    border: transparent;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 4.5vw;
    font-family: sans-serif;
    line-height: 170%;
    margin: 1%;
    transition: all 1s ease;
    overflow: hidden;
}

.information {
    width: 90%;
    max-width: 300px;
    height: 10vh;
    background-color: lightsalmon;
    border: transparent;
    padding: none;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
    text-rendering: optimizeLegibility;
}

.Title {
    font-size: 5vw;
    font-weight: 200;
    font-family: sans-serif;
    text-align: center;
    font-weight: bolder;
    color: chocolate;
}

.Score {
    font-size: 1vw;
    font-weight: 200;
    font-family: sans-serif;
    line-height: 2;
    margin-top: 10px;
}

.Best {
    font-size: 1vw;
    font-weight: 200;
    font-family: sans-serif;
    margin-top: 10px;
}

button {
    border: none;
    border-radius: 5px;
    width: 90%;
    max-width: 250px;
    height: 5vh;
    text-align: center;
    margin: 0 auto;
    font-size: 1vw;
    font-family: sans-serif;
    position: relative;
    top: 1%;
    display: block;
}

.author {
    position: absolute;
    left: 70%;
    bottom: 1%;
}

.repoLink {
    position: absolute;
    left: 70%;
    bottom: 0.5%;
    margin: 0 auto;
    display: block
}

.number-2 {
    color: gray;
}

.number-4 {
    color: rgb(158, 158, 124);
}

.number-8 {
    color: lightcoral;
}

.number-16 {
    color: rgb(247, 158, 126);
}

.number-32 {
    color: rgb(248, 102, 124);
}

.number-64 {
    color: rgb(135, 56, 56);
}

.number-128 {
    color: lightsalmon;
}

.number-256 {
    color: rgb(224, 224, 42);
}

.number-512 {
    color: yellowgreen;
}

.number-1024 {
    color: rgb(175, 175, 11);
}

.number-2048 {
    color: yellow;
}