.container{
    width: 1000px;
    height: 1100px;
    border: 1px darkgray solid;
}

.grid{
    width: 800px;
    height: 800px;
    background-color: lightgray;
    border: transparent 5px;
    padding: none;
    border-radius: 25px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    
}
.grid div{
    width: 190px;
    height: 190px;
    background-color: beige;
    border: transparent;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    font-family: sans-serif;
    line-height: 3;
    margin: 5px;
}
.information{
    width: 300px;
    height: 100px;
    background-color:lightsalmon;
    border: transparent;
    padding: none;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
    text-rendering: optimizeLegibility;
}
.Title{
    font-size: 65px;
    font-weight: 200;
    font-family: sans-serif;
    text-align: center;
    font-weight: bolder;
    color:chocolate;
}
.Score{
    font-size: 24px;
    font-weight: 200;
    font-family: sans-serif;
    line-height: 2;
    margin-top: 20px;
}
.Best{
    font-size: 24px;
    font-weight: 200;
    font-family: sans-serif;
    margin-top: 10px;
}
button{
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 100px;
    text-align: center;
    margin-left: 700px;
    font-size: 30px;
    font-family: sans-serif;
}

.number-2{
    color: gray;
}
.number-4{
    color: rgb(158, 158, 124);
}
.number-8{
    color: lightcoral;
}.number-16{
    color: rgb(247, 158, 126);
}.number-32{
    color: rgb(248, 102, 124);
}.number-64{
    color: rgb(135, 56, 56);
}.number-128{
    color: lightsalmon;
}.number-256{
    color: lightyellow;
}.number-512{
    color: yellowgreen;
}.number-1024{
    color: rgb(175, 175, 11);
}.number-2048{
    color: yellow;
}



